.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h3 {
  color: #7c5fb1;
  font-size: 1.5rem;
  font-weight: 500;
}

.ReduxLogo {
  width: 150px;
  margin: 0 0 -20px 0;
}

.InputForm {
  height: 50px;
  width: 50%;
  min-height: 5rem;
  min-width: fit-content;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.InputTodo, .SubmitTodo { 
  background: none;
  border-radius: 10px;
  padding: 0.3rem;
  margin-left: 1rem;
  min-height: 3rem;
  outline-width: 0;
  color: #7c5fb1;
}

.InputTodo {
  font-size: 1.5rem;
  min-width: 30rem;
  flex: 1;
  border: none;
}

.SubmitTodo {
  font-size: 1rem;
  font-weight: 600;
  margin-right: 2rem;
  padding: 14px;  
  border: 2px solid #dadada;
  background-color: #dadada;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
}

button:hover {
  opacity: 70%;
}

.ListInputWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.TodoList {
  padding: 0.5rem;
  margin: 2rem auto 5rem;
  list-style: none;
  height: 18rem;
  width: 40rem;
  overflow: scroll;
  scrollbar-color: #7c5fb1;
  border: 3px solid #7c5fb1;
  border-radius: 10px;
}

.Todo {
  font-size: 1.2rem;
  color: #7c5fb1;
  padding: 0.4rem;
}