body {
  overflow: scroll;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h3 {
  color: #7c5fb1;
  font-size: 1.5rem;
  font-weight: 500;
}

.ReduxLogo {
  width: 150px;
  margin: 0 0 -20px 0;
}

.InputForm {
  height: 50px;
  width: 50%;
  min-height: 5rem;
  min-width: fit-content;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.InputTodo, .SubmitTodo { 
  background: none;
  border-radius: 10px;
  padding: 0.3rem;
  margin-left: 1rem;
  min-height: 3rem;
  outline-width: 0;
  color: #7c5fb1;
}

.InputTodo {
  font-size: 1.5rem;
  min-width: 30rem;
  flex: 1;
  border: none;
}

.SubmitTodo {
  font-size: 1rem;
  font-weight: 600;
  margin-right: 2rem;
  padding: 14px;  
  border: 2px solid #dadada;
  background-color: #dadada;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
}

.FilterButton {
  font-weight: 550;
  font-size: 1.1rem;
  padding: 14px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
  outline-width: 0;
  color: #7c5fb1;
  border-radius: 10px;
  padding: 0.3rem;
  min-height: 3rem;
  min-width: 11rem;
  margin: 1rem 2rem;
}

.FilterButtonWrapper {
  display: flex;
  min-width: 30rem;
  justify-content: space-between;
}

button:hover {
  opacity: 70%;
}

.ListInputWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.TodoList {
  padding: 0.5rem;
  margin: 2rem auto 3rem;
  list-style: none;
  height: 22rem;
  width: 40rem;
  overflow: scroll;
  scrollbar-color: #7c5fb1;
  border: 3px solid #fff;
  border-radius: 10px;
  background-color: #d9d3e6;
}

.Todo {
  font-size: 1.5rem;
  font-weight: 500;
  color: #7c5fb1;
  padding: 0.4rem;
  border: 2px solid #7c5fb1;
  border-radius: 10px;
  display: flex;
  background-color: #dadada;
  height: 3rem;
  width: 30rem;
  margin: 1rem auto;
  justify-content: space-between;
  align-items: center;
}

.Todo img {
  margin-right: 1rem;
  cursor: pointer;
}

.SvgCheckboxWrapper {
  display: flex;
}

.TodoCheckbox {
  border: none;
  background-color: #7c5fb1;
}

.CheckContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.CheckContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.CheckMark {
  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  width: 27px;
  background-color: #fff;
  border-radius: 5px;
}

.CheckContainer input:checked ~ .CheckMark {
  background-color: #7c5fb1;
}

.CheckMark:after {
  content: "";
  position: absolute;
  display: none;
}

.CheckContainer input:checked ~ .CheckMark:after {
  display: block;
}

.CheckContainer .CheckMark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}